.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: rgb(238, 174, 202);
  background: linear-gradient(90deg, rgb(0, 1, 78) 0%, rgb(233, 148, 148) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.defaultButton {
  background-color: #ffffff;
  /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.defaultButton:hover {
  background: rgb(195, 70, 34);
  background: linear-gradient(0deg, rgba(195, 70, 34, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.songList {
  width: 30%;
  height: 300px;
  text-align: center;
  background: rgb(0, 16, 36);
  background: linear-gradient(167deg, rgba(0, 16, 36, 1) 9%, rgba(0, 255, 220, 1) 100%, rgba(0, 248, 255, 1) 100%);
  border-radius: 10px;
}

.songListTable {
  width: 100%;
  align-content: center;
  text-align: justify;
}

.song-row {
  display: flex;
}

.searchBar {
  width: auto;
  display: inline-block;
  vertical-align: bottom;
}

input {
  width: 100%;
  height: 2vw;
}

h1 {
  font-size: 5.9vw;
}

h2 {
  font-size: 3.0vh;
}

p {
  font-size: 4vmin;
}

/* img {
  width: 100%;
} */

.title-img {
  margin: -10vh;
  width: 30%;
}

.hatchGlow {
  height: 700px;
  border-radius: 50%;
  box-shadow: 0 0 60px 30px rgb(255, 255, 255),
    /* inner white */
    0 0 100px 60px #f0f,
    /* middle magenta */
    0 0 140px 90px rgb(0, 247, 255);
  width: 120%;
}

.hatch-body {
  width: 30%;
  display: contents;
}

.hatch-size {
  width: 100px;
  height: 100px;
  margin: 8px;
}

.closed-hatch-available {
  align-items: center;
  display: flex;
  place-content: center;
  width: inherit;
  height: inherit;
  border-radius: 10%;
  background-color: bisque;
  color: black;
  transition: all .3s ease-in-out;
  position: absolute;
  z-index: 1;
}

.closed-hatch {
  align-items: center;
  display: flex;
  place-content: center;
  width: inherit;
  height: inherit;
  border-radius: 10%;
  background-color: rgb(117, 117, 117);
  color: black;
  position: absolute;
  z-index: 1;
}


.hidden-hatch {
  border-radius: 10%;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.time-until-next-hatch {
  margin: 8px;
  text-align-last: center;
}

.hatch-image {
  object-fit: cover;
  object-position: 46% 54%;
  width: inherit;
  height: inherit;
  filter: blur(10px)
}

.hatch-number {
  transition: all .3s ease-in-out;
}

.hatch-size:hover .closed-hatch-available {
  /* opacity: calc(0); */
  width: 0px;
}

.hatch-size:hover .hatch-number {
  font-size: 0;
}

.calendar-layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
}

.display-img-body {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.display-img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 70vh;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
.display-img,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}




/* .hidden-hatch {
  width: 200px !important;
  height: 200px;
  object-fit: cover;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 700px) {
  .display-img {
    width: 100%;
  }

  .hatch-size {
    width: 40px;
    height: 40px;
  }

  .title-img {
    margin: 0vh;
  }
}